@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

body,
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  font-synthesis: none;
}

body {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  color: #4b4b5a;
  text-align: left;
  background-color: #fff;
  margin: 0;
  background-color: #f6f8fa;
  overflow-x: hidden;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.home-page-container {
  height: 100vh;
  width: 100vw;
  background-color: #e9bcb7;
  background-image: linear-gradient(315deg, #e9bcb7 0%, #29524a 74%);
  color: white;
}

.home-page-nav {
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 35px;
}
.home-page-main {
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.username {
  font-size: 1.5em;
  font-weight: bold;
  padding-left: 5px;
}

.exit-icon {
  padding-right: 20px;
  font-size: large;
  padding-top: 15px;
  cursor: pointer;
}

.welcome {
  font-size: 8.4em;
  font-weight: bold;
  border: 1px dotted white;
}

.error {
  height: 100vh;
  width: 100vw;
  padding: 25px;
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 3px solid #ccc;
  border-radius: 50%;
  border-top-color: #645cff;
  display: inline-block;
  animation: spinner 0.6s linear infinite;
}

.loader {
  text-align: center;
  padding-top: 3rem;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.scale {
  border-radius: 5px;
  transition: transform 0.5s;
}

.scale:hover {
  transform: scale(1.2);
  cursor: pointer;
  /* background-color: black;
  color: white; */
}
